<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - Военкомат г. Королев</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>
  <body>
    <div class="background"></div>
    <div class="content-wrapper">
      <div class="container-limited">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script>
      flatpickr("#appointment-date", {
          enableTime: true,
          dateFormat: "Y-m-d H:i",
          minDate: "tomorrow",
          locale: "ru", // Set Russian locale
      });

      const appointmentDateInput = document.getElementById("appointment-date");
      const errorMessage = document.getElementById("error-message");

      flatpickr(appointmentDateInput, {
          enableTime: true,
          dateFormat: "Y-m-d H:i",
          minDate: "tomorrow",
          locale: "ru", // Set Russian locale
          onChange: function(selectedDates, dateStr, instance) {
              const selectedDate = selectedDates[0];
              const tomorrow = new Date();
              tomorrow.setDate(tomorrow.getDate() + 1);
              tomorrow.setHours(0, 0, 0, 0);

              if (selectedDate < tomorrow) {
                  errorMessage.style.display = "block";
                  appointmentDateInput.value = ""; // Clear the input value
              } else {
                  errorMessage.style.display = "none";
              }
          }
      });
    </script>

  </body>
</html>
