<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm mb-4 p-2 sticky-top rounded">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
    Военкомат г. Королев
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="#news-section">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-section">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services-section">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacts-section">Контакты</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Профиль</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Выйти</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Войти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary text-white" href="/register">Зарегистрироваться</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
