{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4>Профиль пользователя</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Имя:</strong>
                        </div>
                        <div class="col-sm-8">
                            {{ current_user.first_name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Фамилия:</strong>
                        </div>
                        <div class="col-sm-8">
                            {{ current_user.last_name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Отчество:</strong>
                        </div>
                        <div class="col-sm-8">
                            {{ current_user.middle_name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Номер приписного свидетельства:</strong>
                        </div>
                        <div class="col-sm-8">
                            {{ current_user.conscription_certificate if current_user.conscription_certificate else 'Не указано' }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <strong>Номер военного билета:</strong>
                        </div>
                        <div class="col-sm-8">
                            {{ current_user.military_id if current_user.military_id else 'Не указано' }}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ url_for('index') }}" class="btn btn-secondary">Назад</a>
                    <a href="{{ url_for('update_profile') }}" class="btn btn-primary">Изменить профиль</a>
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#appointmentForm" aria-expanded="false" aria-controls="appointmentForm">Записаться на прием</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 collapse" id="appointmentForm">
        <div class="col-lg-8 offset-lg-2">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4>Записаться на прием</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('profile') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.appointment_type.label(class="form-control-label") }}
                            {{ form.appointment_type(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.appointment_date.label(class="form-control-label") }}
                            {{ form.appointment_date(class="form-control") }}
                        </div>
                        <div class="form-group text-right">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron mt-5 shadow-sm">
        <h2>Ваши записи на прием</h2>
        {% if appointments %}
          <ul class="list-group">
            {% for appointment in appointments %}
              <li class="list-group-item">
                <strong>Тип приема:</strong> {{ appointment_type_dict[appointment.appointment_type] }}<br>
                <strong>Дата и время:</strong> {{ appointment.appointment_date.strftime('%Y-%m-%d %H:%M') }}<br>
                <strong>Кабинет:</strong> {{ appointment_room_dict[appointment.appointment_type] }}
                <form method="POST" action="{{ url_for('cancel_appointment', appointment_id=appointment.id) }}" class="d-inline">
                  {{ cancel_form.hidden_tag() }}
                  <button type="submit" class="btn btn-danger btn-sm">Отменить</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>У вас нет записей на прием.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
